<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moit.dao.MeetupMapper"> 	
	
  	<!-- admin 모집 검색조건조회(모집중, 모집마감, 취소/모집명,모집자명)+paging -->
 	<select id="serchByAdmin" resultType="MeetupDto" parameterType="MeetupSerchDto">
		SELECT A.*,
		      (SELECT COUNT(*) FROM meetup_applications WHERE meetup_id = a.meetup_id AND status = 'APPROVED' AND A.delete_yn = 'n') AS total_participants
		  FROM meetups AS A
		 WHERE A.delete_yn = 'N' <!-- 삭제 제외 -->
           AND A.status != 'DELETED' <!-- 삭제 제외 -->
		<if test="status != null and status != ''">
           AND A.status = #{status}
        </if>       
        <if test="searchType == 'title' and searchText != ''">
           AND A.title LIKE CONCAT('%', #{searchText}, '%')
        </if>
<!--         <if test="searchType == 'name' and searchText != ''">
           AND A.member_name LIKE CONCAT('%', #{searchText}, '%')
        </if>  member join 후 사용-->
        
		 ORDER BY A.created_at DESC
		 LIMIT #{start}, ${end}		 
 	</select> 	
 	<select id="selectMeetupTotalCnt" resultType="int" parameterType="MeetupSerchDto">
		SELECT COUNT(*) 
		  FROM meetups  AS A

		 WHERE A.delete_yn = 'N' <!-- 삭제 제외 -->
           AND A.status != 'DELETED' <!-- 삭제 제외 -->
		<if test="status != null and status != ''">
           AND A.status = #{status}
        </if>       
       
        <if test="searchType == 'title' and searchText != ''">
           AND A.title LIKE CONCAT('%', #{searchText}, '%')
        </if>
        <!--         <if test="searchType == 'name' and searchText != ''">
           AND A.member_name LIKE CONCAT('%', #{searchText}, '%')
        </if> -->
		 ORDER BY A.created_at DESC
 	</select>
 	
   	<!-- user 모집 검색조건조회(지역/최신순,인기순,마감임박순)+paging -->
 	<select id="serchByUser" resultType="MeetupDto" parameterType="MeetupSerchDto">
	SELECT A.*,
		   E.image_path,
		   C.name as sido_name,
		   B.name as sigungu_name,
		   (SELECT COUNT(*) FROM meetup_applications WHERE meetup_id = A.meetup_id) AS participant,
		   DATE_FORMAT(meetup_At, '%Y.%m.%d') as fomatMeetupAt
		   <!-- 좋아요 수 -->
	  FROM meetups AS A
      LEFT OUTER JOIN sigungus AS B ON B.sigungu_id = A.sigungu_id
      LEFT OUTER JOIN sidos AS C ON C.sido_id = B.sido_id
      LEFT OUTER JOIN meetup_images  AS D ON D.meetup_id  = A.meetup_id 
      LEFT OUTER JOIN images  AS E ON E.image_id  = D.image_id       
	 WHERE A.delete_yn = 'N' <!-- 삭제 제외 -->
       AND A.status != 'DELETED' <!-- 삭제 제외 -->
	 <if test="sidoId != null and sidoId != 0">
          AND C.sido_id = #{sidoId}
     </if>  
	 ORDER BY
	<choose> <!--  -->
		<when test="orderType == 'createAt' and orderType != ''"> 
			A.created_at ASC
		</when>
		<when test="orderType == 'list' and orderType != ''">
			(SELECT COUNT(*) 
			   FROM meetups AS A
			   LEFT OUTER JOIN meetup_likes  AS B ON B.meetup_id = A.meetup_id  
			  GROUP BY A.meetup_id) DESC
		</when>
		<when test="orderType == 'meetupAt' and orderType != ''">
			A.meetup_At DESC
		</when>		
		<otherwise>
			A.created_at DESC
		</otherwise>
	</choose>
		 LIMIT #{start}, ${end}
 	</select>	
 	
  	<select id="selectUserMeetupTotalCnt" resultType="int" parameterType="MeetupSerchDto">
		SELECT COUNT(*)
		  FROM meetups AS A
	      LEFT OUTER JOIN sigungus AS B ON B.sigungu_id = A.sigungu_id
	      LEFT OUTER JOIN sidos AS C ON C.sido_id = B.sido_id
	      LEFT OUTER JOIN meetup_images  AS D ON D.meetup_id  = A.meetup_id 
	      LEFT OUTER JOIN images  AS E ON E.image_id  = D.image_id       
		 WHERE A.delete_yn = 'N' <!-- 삭제 제외 -->
	       AND A.status != 'DELETED' <!-- 삭제 제외 -->
		 <if test="sidoId != null and sidoId != 0">
	          AND C.sido_id = #{sidoId}
	     </if>  
		 ORDER BY
		<choose> <!--  -->
			<when test="orderType == 'createAt' and orderType != ''"> 
				A.created_at ASC
			</when>
			<when test="orderType == 'list' and orderType != ''">
				(SELECT COUNT(*) 
				   FROM meetups AS A
				   LEFT OUTER JOIN meetup_likes  AS B ON B.meetup_id = A.meetup_id  
				  GROUP BY A.meetup_id) DESC
			</when>
			<when test="orderType == 'meetupAt' and orderType != ''">
				A.meetup_At DESC
			</when>		
			<otherwise>
				A.created_at DESC
			</otherwise>
		</choose>	
 	</select>	
 			
  	
  	<!-- 모집 상세조회 -->
 	<select id="meetupDetail" resultType="MeetupDto"> 
 		SELECT A.*, C.image_path 
 		  FROM meetups AS A
		  JOIN meetup_images  AS B ON B.meetup_id  = A.meetup_id 
          JOIN images  AS C ON C.image_id  = B.image_id 
		 WHERE A.meetup_id = ${meetup_id}
 	</select> 
 	
 	<!-- 모집 신청 -->
 	<insert id="insertApplication">
		INSERT INTO meetup_applications (meetup_id, member_id, status)
		 VAEUE (#{meetup_id}, #{member_id}, #{status}) 	
 	</insert>
 	
 	<!-- 수정 -->
 	<update id="updateByMeetup" parameterType="MeetupDto">
 		UPDATE meetups
 		   SET title 			 = ${title},
 		   	   content 			 = ${content},
 		   	   max_participants  = ${max_participants},
 		   	   min_participants  = ${min_participants},
 		   	   address 		 	 = ${address},
 		   	   meetup_datetime 	 = ${meetup_datetime},
 		   	   status			 = ${status} 		   	   
 		 WHERE meetup_id = ${meetup_id}
 	</update>
 	
 	<!-- 논리삭제 -->
  	<update id="deleteByMeetup" parameterType="int">
 		UPDATE meetups
 		   SET delete_yn = 'Y' 		   	   
 		 WHERE meetup_id = ${meetup_id}
 	</update>	
 	
 	<!-- 시도 조회 -->
 	<select id="findAllSido" resultType="SidoDto">
 		select * from sidos
 	</select>
 	
  
</mapper>



<!-- mapper 1 service 2 controller 2 -->